
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Spend Analyzer" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">



    @Html.ScriptBundle("Base")
    @Html.ScriptBundle("Site")
    @Html.Stylesheet("~/Scripts/vegas/vegas.css")

    <link href="/Content/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <link href="/Content/assets/css/icons.min.css" id="icons-style" rel="stylesheet" type="text/css" />

    <link href="/Content/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="authentication-bg">
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
        
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    @RenderBody()
                    <div class="mt-5 text-center">
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script> Roots. 
                <!--
                            ©
                            <script>document.write(new Date().getFullYear())</script> Roots. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                            -->

                        </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <!-- JAVASCRIPT -->
    <!--<script src="Content/assets/libs/jquery/jquery.min.js"></script>-->
    <script src="/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/Content/assets/libs/node-waves/waves.min.js"></script>
    <script src="/Content/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/Content/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- App js -->
    <script src="Content/assets/js/app.js"></script>

</body>
</html>
